/* Header*/
.header.ant-layout-header{
    height: 80px;
    padding: 10px 0 !important;
}

.dashboard .page-header,
.dashboard .container-page{
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard .page-header{
    padding-top: 24px ;
    padding-bottom: 14px ;
}
.dashboard .page-header h1{
    font-size: 1.8em;
    margin-bottom: 0em;
}

.dashboard .header-heading{
    background-color: var(--color-gray);
    border-left: 2px solid var(--color-fuschia-2);
    padding: 5px 10px;
}
.ant-layout-sider 
.ant-menu.ant-menu-vertical,

.header.ant-layout-header 
.ant-menu.ant-menu-horizontal{
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
}
.header.ant-layout-header{
    padding: 0;
}
.ant-menu{
    background-color: transparent !important;
}

.header.ant-layout-header .ant-menu-horizontal
.ant-menu-item,
.header.ant-layout-header .ant-menu-horizontal
.ant-menu-item.ant-menu-item-selected,
.header.ant-layout-header .ant-menu-horizontal
.ant-menu-item.ant-menu-item-active,

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item,
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left,
.ant-layout-sider-children .ant-menu-inline
.ant-menu-item::after,
.ant-layout-sider-children .ant-menu-inline
.ant-menu-item.ant-menu-item-selected,
.ant-layout-sider-children .ant-menu-inline
.ant-menu-item.ant-menu-item-active{
    border: 0 !important;
    margin: 0 !important;
    
}

.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-item{
    height: 50px !important;
    line-height: 50px !important;
}





@keyframes rotate-icon-on {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.menu-buttom button.side-collapsed-on{
    animation-name: rotate-icon-on;
    animation-duration: .8s;
    transform: rotate(180deg);
}

@keyframes rotate-icon {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.menu-buttom button.side-collapsed-off{
    animation-name: rotate-icon;
    animation-duration: .8s;
    transform: rotate(0deg);
}
