/* Logo*/
.ant-layout-sider .logo{
    width: 100%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: relative;
}

.ant-layout-sider .logo img{
    width: 100%;
    margin: auto;
    position: absolute;
}

.ant-layout-sider .logo img:nth-last-child(1){
    top: -200px;
    z-index: 1;
}

.ant-layout-sider.ant-layout-sider-collapsed .logo img:nth-last-child(1){
    top: -3px;
    z-index: 1;
}

.ant-layout-sider .logo img:nth-last-child(2){
    width: 160px !important;
    margin: 5px calc(20px);
}

/* Sider */
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active{
    background-color: var(--color-hoverBuTo) !important;
    color: var(--color-blue) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item a {
    color: var(--color-gray-2) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active a{
    color: var(--color-white) !important;
}

.dashboard .ant-layout-sider,
.dashboard .ant-layout-sider.ant-layout-sider-collapsed{
    position: relative ;
}

.ant-layout-sider,
.ant-layout-sider .ant-layout-sider-children{
    background-color: var(--color-blue-4);
}

.ant-layout-sider-children{
    max-width: 200px;
}
.ant-layout-sider .close-sider{
    position: absolute !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    padding: 0 !important;
    display: none;
    z-index: 900;
}
.ant-layout-sider div{
    display: block ;
}
.ant-layout-sider.ant-layout-sider-collapsed{
    flex: 0 0 87px !important;
    max-width: 87px !important;
    min-width: 87px !important;
    width: 87px !important;
}

