@import "./_global.css";
@import "./_colors.css";
@import "./_fonts.css";
@import "./_media.css";
@import "./_mediaGrid.css";


.dashboard{
    min-height: 100vh !important;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
}
.ant-dropdown,
.ant-dropdown-menu{
    padding: 0 !important; 
}

.ant-dropdown .ant-dropdown-menu-item{
    padding: 10px 12px !important;
}



